/*
 * Main CSS file
 * Author: Rosivaldo Ramalho <rosivaldo_[at]_gmail.com>
 * $LastModified: Seg 03 Mai 2010 20:47:16 BRT
 *
 */

label,input {
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 10px;
}

label {
	text-align: right;
	width: 75px;
	padding-right: 20px;
}

br {
	clear: left;
}

div {
	/* border: 1px solid gray; */
}

.wrapper {
	clear: both;
}

.left {
	display: inline;
}

.right {
	display: inline;
}

.list_content {
	width: 74%;
}

.list_actions {
	width: 14%
}
