/*
 * Main CSS file
 * Author: Rosivaldo Ramalho <rosivaldo {at} gmail.com>
 * $LastModified: Qua 21 Abr 2010 17:25:45 BRT
 *
 */

label,input {
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 10px;
}

label {
	text-align: right;
	width: 75px;
	padding-right: 20px;
}

div, br {
	clear: left;
}
